
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">Sorry, there was an error occurred while processing your request.</h2>
</body>
</html>
